
<div id="message" style="text-align: center;"></div>
<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-5">
      <h1>Create An Account It's Free !</h1>

      <form class="mt-5 mb-5">
        <div class="form-group">
          <mat-form-field  color="primary"class="col-12">
            <mat-label>Email Address</mat-label><input  name="email" type="text" matInput placeholder="E-mail Id">
            <mat-hint>We'll never share your email with anyone else.</mat-hint>
          </mat-form-field>
       </div>
        <div class="form-group">
          <mat-form-field color="primary" class="col-12">
            <mat-label>User Name</mat-label><input  name="userName" matInput placeholder="User Name">
          </mat-form-field>
        </div>
       <div class="form-group">
           <mat-form-field  color="primary"class="col-12">
            <mat-label>Password</mat-label><input name="password" matInput placeholder="Password" type="password">
          </mat-form-field>
        </div>
        <div class="form-group form-check">
          <mat-checkbox color="accent" >Agree to our terms and conditions</mat-checkbox><br>
          <button mat-raised-button id="submit" color="accent" class="mt-4 wide-btn">Sign Up</button>
        </div>
      </form><br><br>
    </div>
  </div>
</div>
